h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Georgia, Times, serif;
}

p, div {
  font-family: 'Roboto Slab', Georgia, Times, serif;
/*  font-family: 'Roboto', Helvetica, Arial, sans-serif; */
  font-size: 33px;
  letter-spacing: 1px;
  font-weight: bold;
}

body {
  background-color: white;
  margin: 0;
  padding: 33px 66px;
  border: 0;
}

.game-board {
  float: left;
}

.player-name {
  margin: 0;
  padding: 5px 0;
  line-height: 33px;
  border: 0;
  text-align: center;
}


.game-details {
  width: 460px;
  float: left;
  margin-right: 50px;
  padding-top: 160px;
}

.game-details .game-detail {
  font-size: 26px;
  line-height: 33px;
  margin: 16px 0 16px 43px;
  position: relative;
}

.game-detail .fa {
  left: -43px;
  top: 5px;
  position: absolute;
}

.notation-322f9 {
  font-size: 13px;
}

/*.numeric-fc462 {
  top: 2px;
  left: 2px;
}

.alpha-d2270 {
  bottom: 1px;
  right: 3px;
}
*/
.alizarin {
  color: #e74c3c;
}

.nephritis {
  color: #27ae60;
}

.belize-hole {
  color: #2980b9;
}

.referral {
  font-size: 25px;
  bottom: 76px;
  position: absolute;
}

.referral a {
  text-decoration: none;
}
