h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Georgia, Times, serif;
}

p, div {
  font-family: 'Roboto Slab', Georgia, Times, serif;
/*  font-family: 'Roboto', Helvetica, Arial, sans-serif; */
  font-size: 100px;
  letter-spacing: 3px;
  font-weight: bold;
}

body {
  background-color: white;
  margin: 0;
  padding: 100px 200px;
  border: 0;
}

.game-board {
  float: left;
}

.player-name {
  margin: 0;
  padding: 15px 0;
  line-height: 100px;
  border: 0;
  text-align: center;
}


.game-details {
  width: 1380px;
  float: left;
  margin-right: 150px;
  padding-top: 480px;
}

.game-details .game-detail {
  font-size: 80px;
  line-height: 100px;
  margin: 50px 0 50px 130px;
  position: relative;
}

.game-detail .fa {
  left: -130px;
  top: 15px;
  position: absolute;
}

.notation-322f9 {
  font-size: 38px;
}

.numeric-fc462 {
  top: 5px;
  left: 5px;
}

.alpha-d2270 {
  bottom: 3px;
  right: 8px;
}

.alizarin {
  color: #e74c3c;
}

.nephritis {
  color: #27ae60;
}

.belize-hole {
  color: #2980b9;
}

.referral {
  font-size: 75px;
  bottom: 230px;
  position: absolute;
}

.referral a {
  text-decoration: none;
}
